body {
    margin: 0;
    overflow: hidden; /* Prevent scrollbars */
    background: #222;
}
body.mars {/*You can ignore the mars classes*/
    background: #821e1e;
}
body.earth,
body.slime {
    background: #3697f2;
}
body.moon { /*Moon is the end*/
    background: #1e0223;
}
body.ocean {
    background: #87ceeb;
}
.ground {
  position: fixed;   
  bottom: 0;         
  left: 0;           
  width: 100%;       
  height: 40vh;      
  z-index: 1000;     
  background-repeat: repeat-x, repeat;
  background-position: top left, top left;
  background-size:100px 100px, 100px 100px;
  image-rendering: pixelated; 
}

.ground.earth{
  background-image: url('grass.png'), url('dirt.png');
}
.ground.mars{
    background-image: url('ngrass.png'), url('netherrack.png');
}
.ground.moon{/*Moon is the end*/
    background-image: url('endstone.png'), url("endstone.png");
}
.ground.ocean{
    background-image: url('water.gif'), url("water.gif");
}
.ground.slime{
    background-image: url('slime.png'), url("slime.png");
}
